@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Cookie&family=Playfair+Display&family=Signika+Negative:wght@300&family=Square+Peg&display=swap');
@import url("components/container.css");

@import url("components/avatar.css");

@import url("components/banner.css");

@import url("components/cards.css");

@import url("components/follow.css");

@import url("components/button.css");

@import url("components/sidebar.css");



body{
	
    font-family: Helvetica Neue, serif;
    margin: 0px;
    
}

h1, h2, 
{
	color: black;
}

h3{
  color: black;
}



@media (max-width: 960px) {
	.follow, .button, .banner, .avatar, .cards {
    width: 700px !important;
    background-color: blueviolet;
    margin: 40px auto !important;
  }

}
@media (max-width: 720px) {
	.follow,  .button, .banner, .avatar, .cards  {
    width: 500px !important;
    background-color: indianred;
     margin: 40px auto !important;
  }
}
@media (max-width: 540px) {
    .banner, .container, .avatar{
    width: 300px !important;
    background-color: black;
     margin: 40px auto !important;
  }
}